
<h4>Credit card information</h4>
<div class="row">
	
	<div class="span6 offset3">
		<%= form_for(@credit_card) do |f| %>
		<%= render 'shared/error_messages', object: f.object %> 
		<%= f.label :card_type %>
		<%= f.text_field :card_type %>
		<%= f.label :card_number %>
		<%= f.text_field :card_number %>
		<%= f.label :card_security_code %>
		<%= f.text_field :card_security_code %>
		<%= f.label :user_id_number %>
		<%= f.text_field :user_id_number %>
		<%= f.label :holder_name %>
		<%= f.text_field :holder_name %>
		<%= f.submit "Save Card information", class: "btn btn-primary" %>
		<% end %>

	</div>


</div>