<div class="row">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li><%= link_to 'Customer Info', current_user %></li>
				<% if ship_address %>
				<li><%= link_to 'Shipping Address', ship_address_path %></li>
				<% else %>
				<li><%= link_to 'Add Shipping Address', address_path %></li>
				<% end %>
				<% if credit_card %>
				<li><%= link_to 'Card Information', credit_card_path %></li>
				<% else %>
				<li><%= link_to 'Add Card information', new_card_path %></li>
				<% end %>
				<li><%= link_to 'Order History', '#'%></li>
			</ul>
		</div>
		
	</div>