<div class="row">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li><%= link_to 'Customer Info', current_user %></li>
				<% if ship_address %>
				<li><%= link_to 'Address', show_address_path %></li>
				<% else %>
				<li><%= link_to 'Add Address', address_path %></li>
				<% end %>
				<li><%= link_to 'Card Information', card_info_path%></li>
				<li><%= link_to 'Order History', '#'%></li>
			</ul>
		</div>
		
	</div>