<%= provide(:title, 'Cart Items') %>

<div class="row">
	<table class="span4 table-striped table-bordered">
		<% CartItem.find_each(:conditions => "cart_id = #{current_cart.id}") do |item| %>
		<% Car.find_by_id("#{item.product_id}") do |car| %>
		<tr>
			<td><%= car.make %></td>
			<td><%= car.price %><%= link_to 'Delete', @cart_item, method: :delete,
		data: { confirm: "Are you sure?" }, class: "label label-important" %></td>
		</tr>
		<% end %>
		<% end %>
		<tr>
			<td colspan="2"><%= link_to 'checkout', place_order_path %></td>
		</tr>
		<thead class="bold">
				<td>Make</td><td>Price</td>
		</thead>
	</table>
</div>