<div  class="row well">
	<aside class="pull-left">
		<%= image_tag car.image_url(:thumb).to_s, class: "thumbnail" %>
		<b><%= car.make + " " + car.engine + " " %><%= car.model %></b><br>
		<%= link_to 'add to cart', add_cart_item_path(:product => { :product_id => car.id}) %>
	</aside>
					
	<aside class="pull-left span4">		
		<b><%= number_to_currency car.price, :unit => "R" %></b><br>
		<%= car.year %><br>
		<%= car.color %> <br>
		<%= car.mileage + " km" %><br>
		<%= car.transmission %><br>
		<%= car.fuel_type %><br>
	</aside>
</div>