<p>
	<%= form_for(@car) do |f| %>
	<%= render 'shared/error_messages' %>

		<%= f.label :make %>
		<%= f.text_field :make %>

		<%= f.label :price %>
		<%= f.text_field :price %>

		<%= f.label :image_desc %>
		<%= f.text_field :image_desc %>

		<%= f.label :image_file %>
		<%= f.file_column_field :image_file %>

		<%= f.submit "Upload car info" %>


	<% end %>
</p>