<p>
	<%= form_for(@car, :html => {:multipart => true}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :make %>
		<%= f.text_field :make %>

		<%= f.label :price %>
		<%= f.text_field :price %>

		<%= f.label :image %>
		<%= f.file_field :image %>

		<%= f.label :model %>
		<%= f.text_field :model %>

		<%= f.label :year %>
		<%= f.text_field :year %>

		<%= f.label :mileage %>
		<%= f.text_field :mileage %>

		<%= f.label :color %>
		<%= f.text_field :color %>

		<%= f.label :transmission %>
		<%= f.text_field :transmission %>

		<%= f.label :fuel_type %>
		<%= f.text_field :fuel_type %>

		<%= f.submit "Upload car info" %>


	<% end %>
</p>