<div class="row">
	<h1>
		<%= @car.id %>
		<%= @car.model %>
		<%= @car.year %>
		<%= @car.price %>
		<%= image_tag @car.image_desc_url(:thumb).to_s %>
		<%= @car.fueltype %>
		<%= @car.admin_id %>
	</h1>
</div>