<div class="row">
	<%= will_paginate %>
	<h1>
		<%= @car.id %>
		<%= @car.model %>
		<%= @car.year %>
		<%= @car.price %>
		<%= image_tag @car.image_url(:thumb).to_s %>
		<%= @car.fuel_type %>
	</h1>
	<%= end %>
</div>