<!DOCTYPE html>
<html>
<% @user ||= current_user %>
	<head>
	  <title>Carson Auto <%= yield(:title) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<aside class="pull-right"><%= link_to '', show_cart_items_path , class: "icon-shopping-cart" %>(<% if cart? %><%= current_cart.cart_items.count %><%end%>)</aside>
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer'%>
		</div>
	</body>
</html>
